<!DOCTYPE html>
<html lang="en" xmlns:h1="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>CryptoGround</title>
</head>
<h1><center>Crypto Ground</center></h1>
<body>
        <a href=railfence ><button class=grey style="height:75px;width:150px">Rail Fence</button>
        <a href=vigenere ><button class=grey style="height:75px;width:150px">Vigenere</button></a>
        <a href=caesar ><button class=grey style="height:75px;width:150px">Caesar</button></a>
        <a href=diffie ><button class=grey style="height:75px;width:150px">DiffieHellman</button></a>
        <a href=frequency ><button class=grey style="height:75px;width:150px">Frequency</button></a>
</body>
</html>